{% include 'unregistered_navbar.html' %}
{# Load the tag library #}


{% load bootstrap4 %}
{% bootstrap_javascript %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<br/>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card" style="width: 25rem;">
            <h4 class="card-header bg-danger text-white">Activacion inválida</h4>
            <div class="card-body">
                <div class="card-text">
                    <p> El link de activación es incorrecto o ha expirado.</p>
                    <p> Pongase en contacto con el administrador del sitio</p>
                </div>
                <a href="mailto:abrunacci@bitson.group" class="btn btn-light float-left">Enviar Mail</a>
                <a href="{% url 'home' %}" class="btn btn-primary float-right">Ir al inicio</a>
            </div>
        </div>
    </div>
</div>
