{% include 'unregistered_navbar.html' %}
{# Load the tag library #}


{% load bootstrap4 %}
{% bootstrap_javascript %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<br/>
<div class="container">
<div class="row justify-content-center align-items-center">

<div class="card" style="width: 25rem;">
  <div class="card-header">
    Reiniciar contraseña
  </div>
<div class="card-body">
<div class="card-text"><p>Ingrese el correo electronico registrado y enviaremos a su mail un link para reiniciar su contraseña</p></div>
        <form action="{% url 'password_reset' %}" method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
              <button type="submit" class="btn btn-primary float-right">Enviar</button>
          {% endbuttons %}
        </form>
    </div>
</div>
</div>
</div>
