{% include 'unregistered_navbar.html' %}
{# Load the tag library #}


{% load bootstrap4 %}
{% bootstrap_javascript %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<br/>
<div class="container">
    {% if validlink %}
        <div class="row justify-content-center align-items-center">
            <div class="card" style="width: 25rem;">
                <h4 class="card-header bg-success text-white">Mensaje enviado.</h4>
                <div class="card-body">
                    <div class="card-text">
                        <form method="post" class="form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary float-right">Enviar</button>
                        {% endbuttons %}
                        </form>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center align-items-center">
        <div class="card" style="width: 25rem;">
            <h4 class="card-header bg-danger text-white">Link inválido.</h4>
            <div class="card-body">
                <div class="card-text">
                    <p> El link ingresado es invalido o ha expirado. Por favor, solicite nuevamente el recupero de contraseña</p>
                </div>
                 <a href="{% url 'password_reset' %}" class="btn btn-primary float-right">Recuperar contraseña</a>
            </div>
        </div>
    {% endif %}
</div>