{% include 'unregistered_navbar.html' %}
{# Load the tag library #}


{% load bootstrap4 %}
{% bootstrap_javascript %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{# Display a form #}
<br/>
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card" style="width: 25rem;">
            <h4 class="card-header bg-success text-white">Contraseña guardada!.</h4>
            <div class="card-body">
                <div class="card-text">
                    <p> Inicie sesión con su nueva contraseña para ingresar al sitio</p>
                </div>
                 <a href="{% url 'login' %}" class="btn btn-primary float-right">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>