<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}
    | Home
{% endblock %}
{% block content %}
    <br/>
<div class="row">
        <div class="col-2">
            <div class="card">
                    <h5 class="card-header">Mis Puntos</h5>
                <div class="card-body">
                    <table>
                        <tr>
                            <td style="text-align: left;">Semanal:</td>
                            <td style="text-align: right;"><strong>200</strong></td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Totales:</td>
                            <td style="text-align: right;"><strong>20000</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <div class="col-6">
        <div class="card">
            <h5 class="card-header">Tabla General</h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Usuario</th>
                      <th>A</th>
                      <th>E</th>
                                              <th>D</th>
                      <th>T</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                              <td>30</td>
                      <td>10000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                              <td>30</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                              <td>30</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                            <td>30</td>
                        <td>100</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                      <td>30</td>
                      <td>10</td>
                    </tr>
                  </tbody>
                </table>

        </div>
    </div>
    <div class="col-4">
        <div class="card ">
            <h5 class="card-header ">Tabla Semanal</h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Usuario</th>
                      <th>A</th>
                      <th>E</th>
                                              <th>D</th>
                      <th>T</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                              <td>30</td>
                      <td>10000</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                              <td>30</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                              <td>30</td>
                      <td>900</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                                            <td>30</td>
                        <td>100</td>
                    </tr>
                    <tr>
                      <th scope="row">5</th>
                      <td>Mark</td>
                      <td>20</td>
                      <td>30</td>
                      <td>30</td>
                      <td>10</td>
                    </tr>
                  </tbody>
                </table>

        </div>
    </div>
    </div>
</div>
{% endblock %}