<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}
    | Home
{% endblock %}
{% block content %}

    <section id="main-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7 col-sm-12 standing-table">
                    <div class="card text-dark">
                        <h4 class="card-header bg-light">Tabla General</h4>
                        <div id="generalTable"></div>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-12 standing-table">
                    <div class="card text-dark">
                        <h4 class="card-header bg-light">Tabla Parcial</h4>
                        <div id="weeklyTable"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

    function generate_table(data, cb){
        var table = '<table class="table table-sm table-bordered">' +
            '<thead>' +
            '<tr>' +
            '<th>#</th>' +
            '<th>Usuario</th>' +
            '<th>A</th>' +
            '<th>E</th>' +
            '<th>D</th>' +
            '<th>T</th>' +
            '</tr>' +
            '</thead>' +
            '<tbody>';
        var current_user = "{{ user.username }}";
        data.forEach(function(user, i){
            if (user.username === current_user){
                table += "<tr class=\"table-danger\">";
            } else {
                table += "<tr>";
            }
            var position = i+1;
            table += "<td scope=\"row\" class=\"font-weight-bold\">" + position + "</td>" +
                "<td>" + user.username + "</td>" +
                "<td>" + user.winner_hits + "</td>" +
                "<td>" + user.exact_hits + "</td>"+
                "<td>" + user.difference_hits + "</td>"+
                "<td>" + user.total_points + "</td></tr>";
        });
        table += '</tbody>' +
            '</table>';
        cb(table);
    }

    function loadTables(){
            url = "{% url 'get_tables' %}";
            data = { user_id: "{{user.pk}}"};
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: url,
                data: JSON.stringify(data),
                dataType: "json",
                success: function(data){
                    generate_table(data.weekly, function(table){
                        $('#weeklyTable').html(table);
                    });
                    generate_table(data.general, function (table) {
                            $('#generalTable').html(table);
                    });
                }
            });
        }

        $(document).ready(function (){
            loadTables();
        })
    </script>
{% endblock %}