/* custom.css */

html,
body {
    height: 100%;
}

#main-section {
    background: #222 url('../img/NFL-Field-Background.png') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#main-section-unregistered {
    background: #222 url('../img/Football_field.jpg') center center no-repeat;
    background-size: cover;
    color: black;
    height: 100%;
    text-align: center;
}

#main-section-message {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10%;
    width:100%;
}